/*
Colors: 
#E54E79;
#E56385;
#00B2A9;
#75726C;
#EDE9E2
*/
/* Específicos */
#hero {
overflow: hidden;
height: 100vh;
width: 100%;
background-image: url(../img/cropped-Lyft-Promo-Codes-car-1.jpg);
background-size: cover;
/*position: relative;*/
background-attachment: fixed;
background-repeat: no-repeat;
background-position: center;
}
#hero.flex-container {
justify-content: flex-end;
align-items: center;
flex-wrap: wrap;
}
#hero .box {
/*position: absolute;*/
max-width: 500px;
top: 35vh;
right: 0;
background-color: #EDE9E2;
padding: 4em 3.5em 4em 3em;
text-align: left;
width: 100%;
}
.box.flex-container {
flex-direction: column;
}
#hero h3 {
color: #00B2A9;
}
#hero p {
text-transform: uppercase;
font-size: 90%;
color: #75726C;
margin: 1.5em 0;
}
#hero .box span {
/*display: block;*/
font-size: 90%;
margin-top: 1.5em;
font-weight: 400;
}
#hero input {
margin: 0;
font-size: 100%;
}
#play {
background-color: #00B2A9;
width: 100%;
text-align: center;
padding: 5em 0 2em;
}
#play .flex-container {
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
}
#play h2 {
width: 100%;
background-color: #EDE9E2;
padding: .5em 0;
color: #75726C;
}
#game {
margin: 5em 0 1em;
background: #EDE9E2;
padding: 4.5em 3em;
max-width: 1000px;
width: 100%;
}
#game .coordinate {
width: 48%;
position: relative;
}
#game .coordinate i.fa {
display: inline;
font-size: 2rem;
color: #75726C;
}
.divStart {
width: 100%;
}
#game #startBtn.btn {
font-size: 120%;
background-color: #00B2A9;
width: 100%;
}
#game #startBtn.btn:hover {
background-color: #008883;
}
footer > * {
overflow: hidden;
}
footer  .flex-container {
max-width: 95%;
margin: 0 auto;
justify-content: space-between;
}
footer h3 {
font-weight: 400;
text-transform: none;
font-size: 1rem;
line-height: 2rem;
margin-left: 30px;
}
footer b {
font-size: 3rem;
text-transform: lowercase;
display: block;
margin-left: -30px;
}
footer .top {
padding: 2em 0;
}
footer .bottom {
background-color: #706D68;
padding: 1em 0;
}
footer .left {
width: 49%;
}
footer .right {
width: 49%;
}
footer .top .right > * {
margin: 0 0 0 25%;
}
footer .bottom .right {
text-align: right;
}
footer ul li {
margin: .5em 0;
}
footer a {
text-decoration: none;
color: #fff;
}
footer .fa {
width: 25px;
}

/* GAME */
.fila {
width: 100%;
}
.casilla{
box-sizing: border-box;
/*display: inline-block;*/
background-color: #75726C;
color: #75726C;
padding: 0;
font-family: sans-serif;
max-width: 60px;
height: 60px;
text-align: center;
width: 10%;
vertical-align: text-top;
}
.casilla .recorrido {
width: 60px;
height: 60px;
background-color: #E54E79;
}
.casilla .recorrido img {
width: auto;
height: 100%;
max-height: 50px;
margin: 5px;
}
/* Código original de Ricardo Silva */ 
#map {
background: #75726C;
width: 100%;
overflow: hidden;
}
.line {
display: flex;
}
.cell {
border: none;
width: 10%;
height: 60px;
}
.active {
background-color: #E54E79;
}
.robot {
background-color: #E54E79;
background-image: url('../img/car.png');
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}